<br><div *ngIf="dataLoaded == false" class="spinner-border" role="status">
   <span class="visually-hidden">Loading...</span>
 </div>

<div class="mb-3">
      <label for="filterColorText" class="form-label">
        Search Color</label>
      <input type="text" [(ngModel)]="filterText" class="form-control" id="filterColorText"
       placeholder="Search for a color">
    </div>
    <div *ngIf="filterText" class="alert alert-success">
    {{filterText}} search
    </div> 

    <select class="form-select" size="4" >
      <option  routerLink="/colors" (click)="resetCurrentColor()">Colors</option>
      <option *ngFor="let color of colors |colorPipe:filterText"  (click)="setCurrentColor(color.colorId)">{{color.colorName}}</option>
    </select><br>
    <button class="btn btn-warning rounded-0" routerLink="/colors/add">Color <strong>Add - Update</strong></button>