<div class="row mt-4">
  <div class="col-lg-6">
    <div
      id="carouselExampleControls"
      class="carousel carousel-dark slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner" >
        <div style="align-items: center;" *ngFor="let carImage of carImages" (click)="setCurrentImageClass(carImage)" [class]="getCurrentImageClass(carImage)">
         <div style="align-items: center;">
          <img
          src="{{ carImageUrl }}"
          class="d-block w-100"
          alt="..."
        />
         </div>
        </div>
      </div>

      <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
    </div>
  </div>
  

  <div *ngIf="carDetail" class="col-lg-6 my-auto" style="background-color: white; opacity: 0.75;">
    <h1>{{ carDetail.brandName }}</h1>
    <hr style="width: 25%; opacity: 1; height: 2px" />
    <ul class="list-unstyled">
      <li>
        <h5>
          <strong>Model Name: </strong>{{ carDetail.description }},
          {{ carDetail.brandName }}
        </h5>
      </li>
      <li>
        <h5><strong>Color Name: </strong>{{ carDetail.colorName }}</h5>
      </li>
      <li>
        <h5><strong>Model Year: </strong>{{ carDetail.modelYear }}</h5>
      </li>
      <li>
        <h5><strong>Daily Pirice: </strong>{{ carDetail.dailyPrice }} ₺</h5>
      </li>
      <li>
        <h5><strong>Findex Score of the vehicle: </strong>{{ carDetail.carFindexPoint}}</h5>
      </li>
      <app-rental></app-rental>
    </ul>
  </div>

</div>
